{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="{% static 'reminder/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'reminder/css/style1.css' %}">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&family=Danfo&family=Noto+Serif+JP:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <h1>REMINDER</h1>
    <nav>
        <ul class="nav_item">
            <li><a href="{% url 'reminder:index' %}">Home</a></li>
        </ul>
    </nav>
</header>

<div class="container">
<div class="top_content">
    <div class="today_schedul">
        <h2 class="today_schedul_title">今日の予定</h2>
        {% if tasks %}
        <ul>
            {% for nexttask in tasks %}
            <li>{{ nexttask.tasks }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p>今日の予定はありません。<br>ごゆっくりお過ごしください。</p>
        {% endif %}
    </div>

    <form class="form_content" action="{% url 'reminder:SaveSchedule' %}" method="post">
        {% csrf_token %}
        <div class="form_item">
            <label for="title"><span>タイトル</span></label>
            <input type="text" name="title" id="title">
        </div>
        <div class="form_item">
            <label for="date"><span>日時</span></label>
            <input type="text" name="reminder_time" id="date">
        </div>
        <button type="submit" value="SaveSchedule">登録</button>
    </form>
</div>

<div class="bottom_content">
    <h2 class="task_list">予定一覧</h2>
    <table>
        {% if title %}
        <tr>
            <th>タイトル</th>
            <th>日時</th>
        </tr>
        {% for schedule in title %}
        <tr>
            <td><span class="task_title">{{ schedule.title }}</span></td>
            <td><span class="task_time">{{ schedule.reminder_time|date:"Y/m/d" }}</span></td>
            <td class="edit not_implemented"><a class="task_button">編集</a></td>
            <td class="not_implemented"><a class="task_button">削除</a></td>
        </tr>
        {% endfor %}
        {% else %}
    </table>
    <p>予定は何もありません</p>
    {% endif %}
</div>
</div>
<script src="{% static 'reminder/js/script.js' %}"></script>
</body>
</html>