{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="{% static 'reminder/style.css' %}"
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a>Home</a></li>
            </ul>
        </nav>
    </header>

    <form action="{% url 'reminder:SaveSchedule' %}">
        {% csrf_token %}
        <label for="title">タイトル</label>
        <input type="text" name="text" id="title">

        <button type="submit" value="SaveSchedule">登録</button>
    </form>
</body>
</html>