@import url(sanitize.css);

body {
    background-color: #f6e6b9;
}

header {
    background-color: #111b46;
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    z-index: 999;
}

h1 {
    color: #f6e6b9;
    margin: 0;
    margin-left: 40px;
    line-height: 80px;
    font-size: 50px;
    font-family: "Danfo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"ELSH" 0;
    transition: font-size 0.2s;
}

h1:hover {
    font-size: 55px;
    transition: font-size 0.2s;
}

.nav_item {
    display: flex;
    line-height: 80px;
    margin: 0;
    margin-right: 40px;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1.5px;
    padding: 0;
}

.nav_item li {
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: #f6e6b9;
}

a:hover {
    color: #e1d4b2;
}