.container {
    max-width: fit-content;
    margin: 0px auto;
    padding-top: 120px;
}

.top_content {
    max-width: fit-content;
    display: flex;
}

.bottom_content {
    margin: 40px auto;
    height: fit-content;
}

.today_schedul{
    width: 400px;
    color: #111b46;
}

h2 {
    padding: 2px 20px;
    font-size: 20px;
    margin: 0;
    width: fit-content;
    color: #f6e6b9;
    position: relative;
    transition: all 0.45s ease;

    &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: -1;
        content: "";
        background-color: #111b46;
        transition: all 0.3s ease;
    }

    &:hover {
        color: #111b46;
        transition: all 0.45s ease;
    }

    &:hover::before {
        width: 0%;
    }
}

.form_item {
    margin-bottom: 11px;
}

label {
    display: inline-block;
    width: 70px;
}

span {
    width: fit-content;
    color: #111b46;
    font-weight: bold;
}

input {
    padding: 2.5px 0;
    background-color: #f6e6b9;
    border: none;
    border-bottom: #111b46 1px solid;
    outline: none;
}

button {
    background-color: transparent;
    border: #111b46 1px solid;
    cursor: pointer;
    outline: none;
    appearance: none;
    color: #111b46;
    padding: 5px 15px;
    margin-top: 8px;
    border-radius: 3px;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;

    &:hover {
        color: #f6e6b9;
        background-color: #111b46;
        transition: color 0.3s ease;
        transition: background-color 0.3s ease;
    }
}


table {
    border-collapse: collapse;
    line-height:1.7;
}

th {
    color: #111b46;
    padding: 10px 0;
}

table td {
    border-top: 1px solid #111b46;
    border-bottom: 1px solid #111b46;
    padding: 20px;
}

.edit {
    padding-right: 1px;
}

.task_title {
    font-weight: lighter;
    display: inline-block;
}

.task_time {
    font-weight: lighter;
    border-left: 1px solid #111b46;
    border-right: 1px solid #111b46;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
}

.task_button {
    font-size: 12px;
    border: #111b46 1px solid;
    color: #111b46;
    padding: 5px 15px;
    margin-top: 8px;
    border-radius: 3px;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;

    &:hover {
        color: #f6e6b9;
        background-color: #111b46;
        transition: color 0.3s ease;
        transition: background-color 0.3s ease;
    }
}
